body{
  --gray: hsl(240, 9%, 89%);

  background-image: url(images/fundo.svg);
  height: 100%;
  display: grid;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray);
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0;
}

.avatar > img{
width: 10rem;
height: 11.5rem;
object-fit: cover;
clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1{
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-align: center;
}

a{
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display:flex;
  justify-content: center;
  gap: 0.5rem;
  
}
.a:hover{
  cursor: pointer;
}
p{
  margin-top: 2rem;
}

ul{
  margin-top: 4rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}